**/build/
**/cmake-build-*/
**/.cache/
**/__pycache__/
**/*.py[cod]
**/compile_commands.json

# Flex/Bison 生成文件由学生手工运行命令生成，不作为作答源文件提交。
Compiler-2026/task1/src/yacc/*.output
Compiler-2026/task1/include/yacc/
Compiler-2026/task1/src/yacc/Bison.cpp
Compiler-2026/task1/src/yacc/Bison.hpp
Compiler-2026/task1/src/yacc/Flex.cpp
Compiler-2026/task1/src/yacc/stack.hh
Compiler-2026/task1/src/yacc/location.hh
Compiler-2026/task1/src/yacc/position.hh
